/* 
    Created on : 24 jul. 2025, 18:49:26
    Author     : Juan - Luis
*/

/* Clases de estado */
.escondido {
    display: none;
}

.activo-overlay {
    display: flex;
}

.activo {
    display: inline-block;
}

/* Statuses de poder de rol */
.poder {
    grid-template-columns: repeat(3, 1fr);
}

.medio-poder {
    grid-template-columns: repeat(2, 1fr);
}

.miembro {
    grid-template-columns: repeat(1, 1fr);
}

